# Application files
settings.cfg
.env
database.sqlite

# Python
.tox
.eggs
.coverage
*.egg-info
.pytest_cache
__pycache__
build/
dist/
htmlcov/
coverage.xml

# Web
.webassets-cache/

# Development and OS
.idea
.DS_Store
