{% extends "module.html" %}

{% block body %}
<div class="card-body">
    <div class="text-right">
        <small>
            <i class="fas fa-sync-alt"></i> {{ module.data._timestamp | prettydate }}
        </small>
    </div>
    {% set entry = module.data.news[0] %}

    <div class="text-center">
        <h4 class="medium-emphasis">{{ module.config.name }}, {{ entry.published | prettydate }}</h5>
        <h3>{{ entry.title }}</h4>
    </div>
    {% if module.display.summary %}
    <div class="text-justify">
        <p>{{ entry.summary }}</p>
    </div>
    {% endif %}

</div>
{% endblock %}
