{% extends "module.html" %}

{% block body %}
<div class="card-body">
    <div class="text-right">
        <small>
            <i id="{{ module.id }}-spinner" class="fas fa-sync-alt"></i> {{ module.data._timestamp | prettydate }}
        </small>
    </div>
    {% if module.config.mode == "series" %}
    <canvas id="chart-{{ module.id }}" width="400" height="400"></canvas>
    {# NOTE: Moment.js must be included before Chart.js to make the time axis work #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous">
    </script>
    <script>
        var ctx = document.getElementById("chart-{{ module.id }}").getContext("2d");
        var myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ module.data.stocks[0].data.times | safe }},
                datasets: [{
                    label: "{{ module.data.stocks[0].alias or module.data.stocks[0].symbol }}",
                    data: {{
                        module.data.stocks[0].data["values"] | list_filter("close") | safe
                    }},
                    backgroundColor: "rgba(153, 153, 255, 0.2)",
                    borderColor: "rgba(153, 153, 255, 1)",
                    borderWidth: 1,
                    pointRadius: 0
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "#FFF"
                    }
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        distribution: "series",
                        time: {
                            unit: "hour",
                            displayFormats: {
                                hour: 'MMM DD h:mm'
                            }
                        },
                        ticks: {
                            source: "data",
                            autoSkip: true
                        }
                    }]
                }
            }
        });
    </script>
    {% else %}
    {# table is the default mode #}
    <table class="table table-dark dark">
        <thead>
            <tr>
                {# TODO Look up headers from data structure? #}
                <th scope="col">SYMBOL</th>
                <th scope="col">PRICE</th>
                <th scope="col">PREV. CLOSE</th>
                <th scope="col">CHG</th>
                <th scope="col">CHG%</th>
                <th scope="col">VOLUME</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in module.data.stocks %}
            <tr>
                <th scope="row">{{ entry.alias or entry.symbol }}</th>
                <td class="secondary">{{ entry.data["05. price"] }}</td>
                <td>{{ entry.data["08. previous close"] }}</td>
                {% set change = entry.data["09. change"] %}
                {% set change_percent = entry.data["10. change percent"] %}
                <td class="{% if change | float > 0 %}chg-up{% else %}chg-down{% endif %}"><span>{{ change }}</span>
                </td>
                <td class="{% if change | float > 0 %}chg-up{% else %}chg-down{% endif %}">{{ change_percent }}</td>
                <td>{{ entry.data["06. volume"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
